$btn-border-radius: 5px;

$main-color: #2f4f4f;
$accent-color: #dadfdf;
$text-color: #FFF;


.layout{
    display: flex;

    @import "./sidebar.scss";
    @import "./home.scss";
    @import "./user.scss";
    @import "./setting.scss";
}